.navbar>.navbar-container{
    justify-content: space-between;
    background-color: #6f42c1;
}

.preventa {
    background-image: url(img/fondo/fondo-preventa.jpg);
}

.preventa-contenedor {
    background-color: rgba(41, 39, 39, 0.7);
}

.productos {
    background-color: #f7d2f59e;
}

.btn-vermas{
    background-color: #6f42c1;
}